* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
  background: linear-gradient(to left top, #1c7ed6, #e9ecef);
}

header {
  text-align: center;
  padding: 12px;
  background-image: url("./images/sci-fi-city.jpg");
}

.main-h1 {
  color: #212529;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px;
  margin: 0 auto;
  max-width: 250px;
}

.main-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px auto;
  padding: 10px;
  max-width: 1300px;
}

a:link {
  color: #e7f5ff;
  font-size: 24px;
  text-decoration: none;
}

a:visited {
  color: #e7f5ff;
  text-decoration: none;
}

a:hover {
  color: #1864ab;
  font-weight: 700;
}

a:active {
  background-color: #e7f5ff;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 0 1 auto;
  padding: 24px 0;
  margin: 0 auto;
  max-width: 1300px;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  margin: 24px 24px;
  width: 400px;
  height: 250px;
  border: 1px solid #212529;
  border-radius: 2%;
  box-shadow: 5px 5px 5px rgba(33, 37, 41, 0.4);
}

.main-section a:link {
  color: #e7f5ff;
  font-size: 32px;
  text-decoration: none;
}

.main-section a:visited {
  color: #e7f5ff;
  text-decoration: none;
}

.main-section a:hover {
  color: #1864ab;
  font-weight: 700;
}

.main-section a:active {
  background-color: #e7f5ff;
}

.main-articles {
  background-image: url("./images/glasses-book.jpg");
  background-position: center;
  background-size: 400px;
}

.main-tech {
  background-image: url("./images/matrix-image.jpg");
  background-position: center;
  background-size: 400px;
}

.main-fiction {
  background-image: url("./images/milky-way-ocean.jpg");
  background-position: center;
  background-size: 400px;
}

.main-games {
  background-image: url("./images/future.jpg");
  background-position: center;
  background-size: 400px;
}

.main-books {
  background-image: url("./images/bookshelf.jpg");
  background-position: center;
}

.main-connect {
  background-image: url("./images/instagram-logo.jpg");
  background-position: center;
  background-size: 400px;
}

.footer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
}

footer {
  width: 1300px;
  padding-bottom: 10px;
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.footer-title {
  grid-column: 1 / -1;
  grid-row: 1 / 1;
  font-size: 18px;
  color: #e7f5ff;
}

.footer-nav {
  list-style: none;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.footer-nav a:link {
  color: #e7f5ff;
  font-size: 18px;
  text-decoration: none;
}

.footer-nav a:visited {
  color: #e7f5ff;
  text-decoration: none;
}

.footer-nav a:hover {
  color: #1864ab;
  font-weight: 700;
}

.footer-nav a:active {
  background-color: #e7f5ff;
}

.footer-li-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.footer-li-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.footer-li-3 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.footer-li-4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.footer-li-5 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.footer-li-6 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.footer-li-7 {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

.footer-li-8 {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

.footer-copy {
  grid-column: 3 / 3;
  grid-row: 2 / -1;
  font-size: 18px;
  color: #e7f5ff;
}
