* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: sans-serif;
  max-width: 1000px;
  background-color: gray;
}

header {
  text-align: center;
  padding: 12px;
  background-image: url("./images/milky-way.jpg");
}

.main-h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px;
  margin: 0 auto;
  max-width: 250px;
}

.main-nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px auto;
  padding: 10px;
  background-color: yellow;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 0 1 auto;
  padding: 10px 0;
  background-color: orange;
}

.main-section {
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  margin: 24px 24px;
  width: 400px;
  height: 250px;
}

footer {
  text-align: center;
  padding: 12px 12px;
  background-color: aqua;
}

.footer-nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 12px auto;
  padding: 10px;
  background-color: yellow;
}
