* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 80%;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top left, #cdcdd4 0%, #285eae 100%);
  color: white;
}

header {
  height: 100px;
  margin: 10px 0;
  margin-bottom: 25px;
}

.header-banner {
  /* look up position again */

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #2847ae;
}

header li {
  text-align: center;
  margin: 10px;
  background-color: #2847ae;
}

header a:link,
a:visited {
  min-width: 120px;
  padding: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

header a:hover,
a:active {
  min-width: 120px;
  background-color: #f3f3f6;
  color: #2847ae;
  font-weight: bold;
}

main {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}
